#board {
  font-family: monospace;
  background-color: #7f8c8d;
  margin: 0;
  padding: 0;
  position: relative;
}

#main-toolbar {
  width: 100%;
  padding: 5px;
  background-color: #2c3e50;
}

#main-toolbar a {
  color: #FFF;
}

#main-toolbar ul li {
  display: inline-block;
  padding-left: 15px;
}

.post-it-group {
  position: absolute !important;
  width: 190px;
  box-shadow: inset 0px 2px 8px #5B7072;
  overflow: hidden;
  border-radius: 7px;
  z-index: 1000;
  background-color: #7f8c8d;
}

.post-it-group .header {
  background-color: #95a5a6;
  text-align: right;
  padding: 2px;
  width: 100%;
}

.post-it-group .header:hover {
  background-color: #2980b9;
}

.post-it-group .header a, .post-it-group .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  float: right;
  margin: 0px 5px;

}

.post-it-group .header a:hover {
  color: #eee;
}

.post-it-group > .content {
  padding: 10px;
  min-height: 115px;
  outline: none;
}

.post-it {
  position: absolute !important;
  width: 160px;
  background-color: yellow;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
  z-index: 10000;
}

.post-it .header {
  background-color: #c2c25b;
  text-align: right;
  padding: 2px;
  width: 100%;
}

.post-it .header:hover {
  background-color: #f1c40f;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  float: right;
  margin: 0px 5px;
  border: 1px solid #c2c25b;
  background-color: #B4B459;

}

.post-it .header a:hover {
  color: #eee;
}

.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
}

